/**
 * Global scss goes here
 */

body { background: #fff }
*, :before, :after { box-sizing: border-box }

:global(.global) {
  font-weight: bold;
  color: red
}

:global(.active) {
  font-weight: bold
}
